@model IEnumerable<ClincaVeterinariaAspCore.Models.Raca>

@{
    ViewData["Title"] = "ListaRaca";
}

<h1>Listar Raca</h1>

<p>
    <a asp-action="CadRaca" asp-controller="Raca">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.racaAni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefTipoAnimal.Tipo)
            </th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.racaAni)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.RefTipoAnimal.Tipo)
                </th>
                <td>
                    @Html.ActionLink("Editar", "editarRaca", new { id=item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new {id=item.Id}) |
                    @Html.ActionLink("Excluir", "Delete", new { id=item.Id},
                new { onclick = "return confirm('Deseja realmente Excluir este item?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
